._56be{
    border:1px solid #fa3e3e!important;
    border-radius: 3px;
}

.aCsJod {
    border: 1px solid #d93025!important;
    color: #d93025;
}

.rFrNMe {
    color: #d93025!important;
}

.OyEIQ {
    color: #d93025!important;
}